body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fff;
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20px);
    padding: 20px;
    font-size: 30px;
}

.google-logo {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.search-form {
    width: 100%;
    max-width: 584px;
    margin: 0 auto;
}

.search-bar-container {
    position: relative;
    margin-bottom: 30px;
}

.search-bar  {
    width: 100%;
    padding: 14px 20px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
    box-sizing: border-box;  
}

.button {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.search-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    padding: 10px 16px;
    cursor: pointer;
    height: 36px;
}

.search-button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 13px;
    color: red;
}

.header-links {
    display: flex;
}

.header-links a {
    margin-left: 15px;
    color: #000;
    text-decoration: none;
    font-size: 13px;
}

.header-links a:hover {
    text-decoration: underline;
}

.advanced-search-container {
    max-width: 1140px;
    margin: 40px auto;
    padding: 0 20px;
}

.advanced-search-title {
    color:red;
    font-size: 23px;
    margin: 25px 0;
}

.line-separator {
    border-bottom: 1px solid #ebebeb;
    margin: 25px 0;
}
  
  
.form-group {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    margin-bottom: 15px;
    align-items: center;
}

.form-group-title {
    font-size: 18px;
    margin-bottom: 10px;
}
      
.form-group label {
    font-size: 14px;
}

.form-input {
    width: 95%;
    padding: 8px;
    border: 0px solid #d9d9d9;
    border-radius: 1px;
    font-size: 13px;
}
.form-input:hover {
    background-color: #d6d5d5;
}

.button-container {
 display: flex;
justify-content: center;
margin-top: 20px;
}

.advanced-search-button {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    border-radius: 2px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 8px 12px;
    cursor: pointer;
}

.advanced-search-button:hover {
    background-color: #357ae8;
    border-color: #2f5bb7;
}

.to-know {
    font-size: 12px;
    color: #777;
}


.headersearch{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.headersearch a {
    margin-left: 15px;
    color: #201f1f;
    text-decoration: none;
    font-size: 14px;
}

.headersearch a:hover {
    text-decoration: underline;
}